@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #020617;
  color-scheme: dark;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
